*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin:0;
    font-family: Droid Sans;
    font-size: 20px;
}
h1 p{
    font-size: 0.75em;
}
h2 p{
    font-weight: normal;
    font-size : 0.75em;
}
#navigationBar{
    width:100%;
    margin: 0;
    padding: 0;
    position: fixed;
    background-color: rgba(0,0,0,0.8);
    backdrop-filter: saturate(180%) blur(20px);
}
#navigationBar ul{
    display : inline-flex;
    justify-content: space-evenly;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 1%;
}
#navigationBar ul li a{
    text-decoration: none;
    color: white;
   }
#navigationBar ul li a:hover{
    color : grey;
}
/*Css index*/
#Accueil img{
    max-width: 100%;
    width: 100vw;
    margin: auto;
    padding: auto;
}
#section1 {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#section1 img {
    padding: 10%;
    text-align: center;
    margin: auto;
    max-width: 100%;
}
#section1 p{
    margin: 0;
    padding: 0 2em 2% 2em;
    text-align: center;
}
#section2 {
    background-color: #272727;
}
#section2 img{
    width: 100vw;
    max-width: 100%;
    margin: 0;
    padding: 0;
}
#section3 {
    background-color: #272727;
    margin:0;
}
#section3 p{
    margin: 0 3em 0 3em;
    padding: 3em 3em 3em 3em;
    vertical-align: center;
    text-align: center;
    color: white;
}
#section4{
    display: none;
}
footer {
    background-color: #272727;
    padding-bottom: 3em;
}
footer ul{
    max-width: 100%;
    width: 100%;
    list-style-type: none;
    text-align: center;
    display : inline-flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}
footer  ul li {
    text-decoration: none;
    display: inline-flex;
    padding: 0 5%;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
}

/* popup */
.popup .popuptext {
    visibility: hidden;
    width: 50%;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 2em;
    border: solid white;
    padding: 5em 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    margin: 0;
    left : 25%;
}
.popup .popuptext a {
    text-decoration: none;
    color: white;
}

/* pour animations de la popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
/*galerie*/

.ligne {
    display: flex;
    flex-wrap: wrap;
    padding: 8% 4px 0 4px;
    background-color: #272727;
}

.colonne {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.colonne img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}
@media (max-width: 800px) {
    .colonne {
        flex: 50%;
        max-width: 50%;
    }
}
/*Responsives version tablette - 768 px*/
@media only screen and (max-width:768px){
    #navigationBar{

    }
    #navigationBar ul {
        padding: 0;
        margin: 2%;
    }
    #navigationBar li {
        font-size: 0.7em;
        margin: 0;
        padding: 0;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
    }
    #navigationBar li:nth-child(1){
        display: none;

    }
    #navigationBar li:nth-child(2){
        display: none;
    }
    #navigationBar li:nth-child(3){
        display: none;
    }
    #navigationBar li:nth-child(4){
        display: inline-flex;
    }
    #navigationBar li:nth-child(5){
        display: inline-flex;
    }
    #navigationBar li:nth-child(6){
        display: inline-flex;
    }
    h2 div {
        font-size: 0.6em;
    }
    .popup .popuptext {
        display: none;
    }
    footer ul{
        display: none;
    }
    #section4{
        display:block;
        margin: 0;
        padding-top: 1%;
    }
    #section4 hr{
        width: 80%;
    }
    #section4 div {
        text-decoration: none;
        font-size : 0.6em;
        text-align: center;
        color: white;
    }
    #section4 div a {
        text-decoration: none;
        color: white;
    }
}
@media (max-width: 600px) {
    .colonne {
        flex: 100%;
        max-width: 100%;
    }
}
/*Responsives version telephone*/
@media only screen and (max-width:500px){
    h1 p {
        font-size: 0.4em;
    }
    h2 p {
        font-size: 0.4em;
    }
    .popup .popuptext {
        display: none;
    }
    footer ul{
        display: none;
    }
    h1{
        margin: 0;
        padding: 0;
    }
    #section1 p {
        margin: 0;
        padding: 0 2em 0 2em;
    }

    #section3 p {
        margin: 0;
        padding: 5% 2em 5% 2em;
    }
    #section4{
        display:block;
        margin: 0;
        padding-top: 1%;
        font-size: 0.6em;
    }
    #section4 hr{
        width: 80%;
    }
    #section4 div {
        text-decoration: none;
        font-size : 0.6em;
        text-align: center;
        color: white;
    }
    #section4 div a {
        text-decoration: none;
        color: white;
    }
    #navigationBar ul {
        width: 100%;
        position: relative;
        display: inline-flex;
    }
}

@media only screen and (min-width:1440px) {
    .ligne {
        padding-top: 6%;
    }
}
@media only screen and (min-width:2560px) {
    .ligne {
        padding-top: 5%;
    }
    body {
        font-size: 2em;
    }
}

/* liste de ce qu'il reste a faire :
- préparer une page pour la galerie
- préparer une page pour le book
- voir pour mettre un formulaire
 */