*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin:0;
    font-family: Droid Sans sans-serif;
    font-size: 20px;
}
#navigationBar ul,li {
    list-style-type: none;
}
#navigationBar{
    width:100%;
    margin: 0;
    padding: 0;
    position: fixed;
}
#navigationBar ul{
    display : flex;
    justify-content: stretch;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: rgba(0,0,0,0.8);
    backdrop-filter: saturate(180%) blur(20px);
}
#navigationBar ul li {
    flex-grow: 1;
    margin: 0;
    padding: 0;
}
#navigationBar ul li a{
    display: block;
    background-color: rgba(0,0,0,0);
    text-decoration: none;
    color: white;
    padding: 5%;
    text-align: center;
    transition: all ease .3s;
}
#navigationBar ul li a:hover{
    color : grey;
    filter: grayscale(80%);
}
#navigationBar ul li a img{
    width: 40px;
}

/*galerie*/

.ligne {
    display: flex;
    flex-wrap: wrap;
    padding: 8% 4px 0 4px;
    background-color: #272727;
}

.colonne {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.colonne img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}
.colonne a img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}
@media (max-width: 800px) {
    .colonne {
        flex: 50%;
        max-width: 50%;
    }
}
/*Responsives version tablette - 768 px*/
@media only screen and (max-width:768px) {

}

@media (max-width: 600px) {
    .colonne {
        flex: 100%;
        max-width: 100%;
    }
}

/*Responsives version telephone*/
@media only screen and (max-width:500px){

}


@media only screen and (min-width:1440px) {
    .ligne {
        padding-top: 6%;
    }
}
@media only screen and (min-width:2560px) {
    .ligne {
        padding-top: 5%;
    }
    body {
        font-size: 2em;
    }
}